.sub_menu
	.sub_menu_child.mt-3
		p.mb-0 AMD 
		ul
			li
				a(href="") Ryzen
			li
				a(href="") Athenol
			li
				a(href="") Athenol
	.sub_menu_child.mt-3
		p.mb-0 INTEL 
		ul
			li
				a(href="") Pentium
			li
				a(href="") Core I3
			li
				a(href="") Core I5
			li
				a(href="") Core I7