.table_more_infomation.pt-3.pb-3
	.container
		.row
			.col-12
				h4 Bản cấu hình thông tin chi tiết
			.col-12.col-md-6
				table.p-5
					tr
						td Màng hình
						td 15.6
					tr
						td CPU
						td Core I9
					tr
						td Loại
						td Mới
					tr
						td Loại sản phẩm
						td MacBook Pro
					tr
						td Màu
						td Bạc (Silver)
					tr
						td RAM
						td 32GB

			.col-12.col-md-6
				table.p-5
					tr
						td Màng hình
						td 15.6
					tr
						td CPU
						td Core I9
					tr
						td Loại
						td Mới
					tr
						td Loại sản phẩm
						td MacBook Pro
					tr
						td Màu
						td Bạc (Silver)
					tr
						td RAM
						td 32GB
		