.sub_menu
	.sub_menu_child.mt-3
		p.mb-0 BUSS 1600
		ul
			li
				a(href="") 4G
			li
				a(href="") 8G
			li
				a(href="") 16G

	.sub_menu_child.mt-3
		p.mb-0 BUSS2400
		ul
			li
				a(href="") 4G
			li
				a(href="") 8G
			li
				a(href="") 16G
	.sub_menu_child.mt-3
		p.mb-0 BUSS 2666
		ul
			li
				a(href="") 4G
			li
				a(href="") 8G
			li
				a(href="") 16G