section.banner_top
	.owl-carousel.owl-theme
		.item
			figure
				img(src="img/slider/slider-big-1.jpg", alt="")
		.item
			figure
				img(src="img/slider/slider-big-2.jpg", alt="")
		.item
			figure
				img(src="img/slider/slider-big-3.jpg", alt="")
		.item
			figure
				img(src="img/slider/slider-big-1.jpg", alt="")
		.item
			figure
				img(src="img/slider/slider-big-2.jpg", alt="")
		.item
			figure
				img(src="img/slider/slider-big-3.jpg", alt="")
		
