//- html SEO 01
section.seo_01.mt-2
	.container
		.row
			.col-md-3
				figure.left_banner_product.m-0
					.box_img_product
						img(src="img/product/product1.jpg", alt="") 
			.col-md-3
				figure.left_banner_product.m-0
					.box_img_product
						img(src="img/product/product1.jpg", alt="") 
			.col-md-3
				figure.left_banner_product.m-0
					.box_img_product
						img(src="img/product/product1.jpg", alt="") 
			.col-md-3
				figure.left_banner_product.m-0
					.box_img_product
						img(src="img/product/product1.jpg", alt="") 