<!-- LIÊN HỆ -->

section.home_contact
	.container.bg_contact.pt-2
		.row
			.col-12
				.box_user_contact
					.text_contact_user
						p Đăng kí để nhận thông tin khuyến mãi
						p Chúng tôi sẽ gởi thông tin đến Email của bạn
					form(action="").form_user_contact
						.form_group_contact
							input(type="text" placeholder='Email của bạn')
							button.btn.btn-success Gởi mail
	