extends _layout/layout.pug
block variables
	- var title = "about"
	- var description = "Description for about page"
	- var bodyclass = "about"
	- var href = "/about.html"
block body
	include ../lib/boxes/b-1/index.pug
	include ../lib/boxes/b-12/index.pug
	include ../lib/boxes/b-14/index.pug
	include ../lib/boxes/b-17/index.pug
