extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../lib/header/header-1/index.pug
block body
	main
		
block footer
	include ../lib/footer/f-11/index.pug
