extends _layout/layout.pug
block variables
	- var title = "Register"
	- var description = "Register"
	- var bodyclass = "Register"
	- var href = "/register.html"
block header
	include ../lib/header/header-1/index.pug
block body
	main
		include ../lib/register/register-1/index.pug
block footer
	include ../lib/footer/f-11/index.pug
