
//- HTML modal cart 05 
section.modal-05
	.container
		.row
			.col-md-12
				.d-flex.justify-content-center.mt-5.flex-column.custom_success
					img(src="img/svg/checked.svg", alt="").mb-5
					h2.text-align-center.text-success Bạn đã mua hàng thành công !