//- HTML deltail

-
	var products = [
	{
		image: 'pro1.png',
	},
	{
		image: 'pro2.png',
	},
	{
		image: 'pro3.png',
	},
	{
		image: 'pro4.png',
	},
	{
		image: 'pro5.png',
	}]
section.detail_product
	.container
		.row.no-gutters.bg-white
			.col-md-5.col-12.p-3
				.owl-carousel.owl-theme.owl-loading.detail_product_list
					each item in products
						.item
							figure
								.box_img_product
									img(src="img/product/"+ item.image, alt="")
			.col-md-7.col-12.p-3
				.row.mt-3
					.col-md-5
						.box-left
							p.name Laptop MSI nootbook Laptop MSI nootbook Laptop MSI nootbook 
							strong.price 28,000,000 vnđ
							form(action="")
								.group_number.mt-3
									i.fa.fa-minus.btn_prev
									input#number_product(type="number" value=1)
									i.fa.fa-plus.btn_next
								button.mt-3(type='submit').btn_hover 
									i.fa.fa-shopping-cart.mr-3
									| Thêm vào giỏ hàng
					.col-md-7
						.box-right
							h6 Dịch vụ của chúng tôi
							figure
								img(src="img/svg/001-shipped.svg", alt="")
								figcaption
									p Giao tận nhà trong 1-3 ngày làm việc 
									span (áp dụng cho đơn hàng > 3 sản phẩm)
							figure
								img(src="img/svg/003-rating.svg", alt="")
								figcaption
									p Nếu hình không đúng thực tế, nhận ngay coupon mua hàng trị giá 2.000.000đ tại siêu thị Big C. 
						.btn_buy
							a(href="").btn_hover
								p.text-center Mua ngay
								span Gọi điện và xát nhận đơn hàng
					.col-md-12.p-2
						.gift
							h5 Dịch vụ & Khuyến mãi
							p Nhập mã RXWJXBKD8F9Y khi thanh toán, giảm ngay 100.000đ.
							p Tặng mã coupon giảm 300.000đ khi đơn hàng trên 5 triệu đồng.
							p Giao hàng miễn phí đối với đơn hàng trên 500k trong nội thành Tp. Hồ Chí Minh
							p Giảm ngay 20% đối với những sản phẩm thuộc nhóm Mẹ và bé, Balo, Nón thời trang
