footer.canhcam-footer-11
	.linkfooter
		.container
			.row
				.col-md-4.col-lg-4
					.location
						h4 Địa chỉ
						p 78B Nguyễn Kiệm
							br
							| hotline: 12345678
							br
							.email 
								p nhatnnps07643@fpt.edu.vn
				
				.col-md-8.col-lg
					.row
						.col
							h4.mt-5.mt-md-0 Hướng dẩn
							nav.list-group
								.list-group-item
									a(href="#") Ice cream
								.list-group-item
									a(href="#") hera
								.list-group-item
									a(href="#") saigon night
								.list-group-item
									a(href="#") pure
								.list-group-item
									a(href="#") moisture
								.list-group-item
									a(href="#") stylish
								.list-group-item
									a(href="#") natural
									a(href="#") moisture
								.list-group-item
									a(href="#") stylish
								.list-group-item
									a(href="#") natural
									a(href="#") moisture
								.list-group-item
									a(href="#") stylish
								.list-group-item
									a(href="#") natural
								
				.col-md-12.col-lg-4
					.socials.mt-4.mt-lg-0
						h4 Liên hệ qua mạng xã hội
						.text-center.text-lg-left.mt-2
							p Liên lạc qua mạng xã hội để biết thêm nhìu hơn thông tin về chúng tôi
						.social-list
							ul.list-inline.text-center.text-lg-left
								li.list-inline-item
									a(href='https://www.linkedin.com', target='_blank')
										i.fab.fa-linkedin(ga-action-click='', data-value='Linkedin', data-label='Linkedin', data-action='Linkedin')
								li.list-inline-item
									a(href='https://www.facebook.com', target='_blank')
										i.fab.fa-facebook-f(ga-action-click='', data-value='Facebook', data-label='Facebook', data-action='Facebook')
								li.list-inline-item
									a(href='https://www.twitter.com', target='_blank')
										i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
	.copyright
		.container
			.row
				.col.text-center
					p.mb-0 @copyright: 2019 by Cao Đẵng Fpolytechnic 
