//- HTML PULL
section.home_pull
	.container
		.row.p-3
			.bg_pull.d-flex
				.col-md-3
					.items
						img(src="img/svg/001-shipped.svg", alt="")
						.text_pull
							p Miễn phí vận chuyển
							span Với đơn hàng hơn 5 triệu
				.col-md-3
					.items
						img(src="img/svg/002-smile.svg", alt="")
						.text_pull
							p Cam kết chính hãng
							span Đảm bảo chất lượng 100%
				.col-md-3
					.items
						img(src="img/svg/003-rating.svg", alt="")
						.text_pull
							p Hỗ trợ tư vấn
							span Thứ 2 - Thứ 7 :08h30-17h30
				.col-md-3
					.items
						img(src="img/svg/004-smartphone.svg", alt="")
						.text_pull
							p ĐẶT HÀNG NGAY
							span Gọi : 01662 465 188